# Virtual environments
.venvs/
venv/
llm_env/

# ROS build files
build/
install/
log/

# Datasets
dataset/
yolo_dataset/
*.tar.gz
*.bag
*.db3

# YOLO weights / models
*.pt
*.onnx
runs/

# Rosbags
rosbag2_*

# Python cache
__pycache__/
*.pyc
